<ul>
  <% @bookmarks.each do |bookmark| %>
  <li>
    <%= bookmark.title %>
    <a href="<%= bookmark.url %>">
    </a>
  </li>
  <% end %>
</ul>

<form action='/new_bookmark' method='post'>
  <input type='text' name='url'>
  <input type='text' name='title'>
  <input type='submit' value='Add Bookmark'>
</form>
